
<% if events_lists.present? %>
  <section>

    <div class="container">

      <div class="row gy-5" >
        <div class="col-12" style="background: white;padding: 50px;">
        <h2><%= heading %></h2>

        </div>

            <% events_lists.each do |event| %>
              <div class="col-lg-2 col-md-6">
                <article>

                <%= link_to event_show_path_helper(event) do %>
                  <div class="post-img">
                    <% if event.image.attached? %>
                      <%= image_tag event.image.variant(resize_to_fill: [200, 400]), width: 200, height: 400, class: "", style: "max-height: 400px; width: 200px;" %>
                    <% end %>

                  </div>
                <% end %>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-dot"></i> <time datetime="2022-01-01"><%= event.closest_date %></time></li>
                    </ul>
                  </div>

                  <h4 class="title text-center">
                    <%= link_to event.name, event_show_path_helper(event) %>
                  </h4>

                </article>
              </div><!-- End post list item -->
            <% end %>


      </div><!-- End blog posts list -->

    </div>

  </section>
<% end %>
