<div class="container mx-auto">
  <!-- Flex container for two rows (flex-direction: column) -->
    <!-- First Row (left content) -->
    <div class="flex flex-row gap-6 bg-gray-50 p-6 rounded-lg">
      <!-- Box 1 in Row 1 -->
      <% if @event.image.attached? %>
        <div class="mb-4">

          <div class="max-w-4xl mx-auto p-6">
            <!-- Display image if attached -->
            <div class="mt-6">
                <!-- Show the image -->
              <div class="relative w-full h-80 m-auto overflow-hidden flex justify-center items-center" style="max-width:200px;">
                <%= image_tag @event.image, class: "object-cover w-full h-full", style: "max-height: 100px; width: auto;" %>
              </div>

                <!-- Download link -->
              <div class="mt-4">
                <%= link_to "Download Image", rails_blob_path(@event.image, disposition: "attachment"), class: "inline-block px-6 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="flex-1 space-y-6 mb-4">
        <div class="flex justify-between items-center mb-4">
          <!-- Title on the left -->
          <h2 class="text-xl font-semibold text-gray-800"><%= @event.name %></h2>
          <!-- Button on the right -->
          <%= management_table_button('Edit', edit_management_event_path(@event.id), 'edit', button: true, remote: true, turbo: true, method: :get, data: {turbo_frame: 'resourceModalContent' }) %>
        </div>
        <%= @event.category_id %><br>
        <%= @event.description.html_safe %><br>
        <%= @event.status %> <br>
      </div>
    </div>

    <!-- Second Row (right content) -->
    <div class="flex flex-row gap-6 bg-gray-50 p-6 rounded-lg">
      <!-- Box 1 in Row 2 -->
      <div class="flex-1 ">
        <div class="flex justify-between items-center mb-4">
        <div><h4 class="text-xl font-semibold text-gray-800">Lokalizacje</h4>
          <p class="text-gray-600">Lista lokalizacji w których odbędzie sie wydarzenie</p>
        </div>
        <%= management_table_button('New', new_management_event_event_location_path(@event.id), 'new', button: true, remote: true, turbo: true, method: :get, data: {turbo_frame: 'resourceModalContent' }) %>
      </div>
        <%= render partial: 'management/events/events_locations' %>
      </div>
    </div>
</div>
